@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply scroll-smooth font-Inter text-neutral-700;
  }
}

/* Firefox */
.scroller {
  scrollbar-width: 12rem;
  scrollbar-color: #343839 #e8ecef;
}

/* Chrome, Edge, and Safari */
.scroller::-webkit-scrollbar {
  width: 12rem;
  height: 0.25rem;
}

.scroller::-webkit-scrollbar-track {
  background: #e8ecef;
  border-radius: 5px;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: #343839;
  border-radius: 5rem;
  /* border: 3px solid red; */
}

.ant-menu-submenu-title {
  @apply border-b !p-0 !pb-2 !rounded-none !mt-4 !mb-0 !text-neutral-700 !bg-transparent !w-full border-neutral-300 text-sm font-medium leading-6;
}
.ant-menu-item {
  @apply border-b !p-0 !pb-2 !rounded-none !mt-4 !mb-0 !text-neutral-700 !bg-transparent !w-full border-neutral-300 text-sm font-medium leading-6;
}
.ant-menu {
  @apply !bg-transparent;
}
.ant-menu-submenu .ant-menu-item {
  @apply !pl-8 border-none;
}
